.about-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", Helvetica;
  width: 100%;
  margin: 0px;
  padding: 0px;

}

.about-page .div-3 {
  background-color: #ffffff;
  height: fit-content;
  position: relative;
  width: 100%;
}

.about-page .nav-link {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 38px;
  white-space: nowrap;
  margin-right: 25px;
}

.about-page .text-wrapper-5 {
  color: #236629;
  font-family: "Roboto", Helvetica;
  font-size: 96px;
  font-weight: 900;
  height: 99px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 100%;

}

.about-page .overlap {
  background-color: #def9c4;
  border-radius: 5px;
  height: 530px;
  left: -119px;
  position: absolute;
  top: 340px;
  width: 90%;
  padding-right: 10px;
}

.about-page .p {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 431px;
  left: 15%;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 110px;
  width: 85%;
}

.about-page .text-wrapper-6 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 64px;
  font-weight: 500;
  height: 50px;
  left: 151px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 48px;
  width: 100%;
}

.about-page .overlap-group {
  background-color: #def9c4;
  border-radius: 5px;
  height: 530px;
  right: 0px;
  position: absolute;
  top: 1020px;
  width: 90%;
}

.about-page .text-wrapper-7 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 500;
  height: 412px;
  left: 5%;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 106px;
  width: 95%;
}

.about-page .text-wrapper-8 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 64px;
  font-weight: 500;
  height: 50px;
  left: 0px;
  padding-left: 20px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 37px;
  width: 100%;
}

.about-page .overlap-2 {
  background-color: #def9c4;
  border-radius: 5px;
  height: 833px;
  left: -134px;
  position: absolute;
  overflow: hidden;
  top: 1666px;
  width: 100vw;
}

.about-page .text-wrapper-9 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 174px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 125px;
  width: 1157px;
}

.about-page .aleksandra-kalas {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 196px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 638px;
  width: 208px;
}

.about-page .text-wrapper-10 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 473px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 638px;
  width: 208px;
}

.about-page .humza-iqbal {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 750px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 638px;
  width: 208px;
}

.about-page .text-wrapper-11 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 1027px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 638px;
  width: 208px;
}

.about-page .text-wrapper-12 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 1304px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 638px;
  width: 208px;
}

.about-page .text-wrapper-13 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 64px;
  font-weight: 500;
  height: 50px;
  left: 174px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 51px;
  width: 1148px;
}

.about-page .group {
  height: 240px;
  left: 180px;
  position: absolute;
  top: 367px;
  width: 1348px;
}

/* .about-page .IMG {
  height: 240px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 240px;
  border-radius: 50;
} */

.about-page .student-pictures {
  display: flex;
  position: absolute;

  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(222, 249, 196);
}

.about-page .student-about {
  top: 1600px;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: rgb(222, 249, 196);
  padding-top: 20px;
}

.about-page .student-image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 50;



}

.about-page .student-card {
  background-color: rgb(222, 249, 196);
  border: none;
  text-align: center;

}

.about-page .student-card .card-title {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 36px;
  font-weight: 500;
}

.about-page .student-card .card-subtitle {
  color: #236629;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
}

.student-about h2 {
  color: #23662a;
  font-family: "Roboto", Helvetica;
  font-size: 64px;
  font-weight: 500;
  padding-left: 30px;
}

.about-page .IMG2 {
  border-radius: 50px;
  height: 240px;
  left: 280px;
  position: absolute;
  top: 0;
  width: 240px;
}

.about-page .IMG3 {
  height: 240px;
  left: 555px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 240px;
  border-radius: 50;
}

.about-page .IMG4 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 240px;
  left: 831px;
  position: absolute;
  top: 0;
  width: 240px;
}

.about-page .IMG5 {
  height: 240px;
  left: 1108px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 240px;
  border-radius: 50;
}

.about-page .text-wrapper-14 {
  color: #236629;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 214px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 740px;
  white-space: nowrap;
  width: 171px;
}

.about-page .text-wrapper-15 {
  color: #236629;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 491px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 740px;
  white-space: nowrap;
  width: 171px;
}

.about-page .text-wrapper-16 {
  color: #236629;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 768px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 740px;
  white-space: nowrap;
  width: 171px;
}

.about-page .text-wrapper-17 {
  color: #236629;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 1045px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 740px;
  white-space: nowrap;
  width: 171px;
}

.about-page .text-wrapper-18 {
  color: #236629;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 1322px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 740px;
  white-space: nowrap;
  width: 171px;
}

.about-page .overlap-3 {
  height: 100px;
  right: 10px;
  position: absolute;
  top: 24px;
  width: 375px;
}



.about-page .overlap-group-2 {
  height: 71px;
  position: absolute;
  top: 5px;
  width: 373px;
  font-size: 30px;
  border-radius: 50px;
  border-color: #23662a;
  border-width: 3px;
  box-shadow: none;
  border-style: solid;
}

.about-page .rectangle-2 {
  background-color: #ececec;
  border-radius: 50px;
  height: 63px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 373px;
}

.about-page .text-wrapper-19 {
  color: #7b7777;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 71px;
  left: 24px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 15;
  width: 230px;
}

.about-page .text-wrapper-20 {
  color: #0d27b2;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 200;
  height: 30px;
  left: 17px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 70px;
  white-space: nowrap;
  width: 195px;
}

.about-page .navbar-3 {
  height: 30px;
  left: 150px;
  position: absolute;
  top: 50px;
  width: 60%;
}

.about-page .text-wrapper-21 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 230px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.about-page .text-wrapper-22 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 110px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.about-page .text-wrapper-23 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.about-page .text-wrapper-24 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 350px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.about-page .logo {
  height: 77px;
  left: 46px;
  position: absolute;
  top: 29px;
  width: 92px;
}

.about-page .text-wrapper-36 {
  color: #0d27b2;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 200;
  height: 30px;
  left: 1059px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 94px;
  white-space: nowrap;
  width: 195px;
}

.about-page .userguide-page-link {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 490px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.about-page .google-form-link {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 690px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

@media (min-width: 1250px) and (max-width: 1355px) {
  .about-page .overlap-3 {
    top: 100px;
  }

  .about-page .text-wrapper-5 {
    font-size: 80px;
  }

  .about-page .student-card {
    transform: scale(0.9);
    border: #23662a;
    border-width: 2px;
    border-style: solid;
  }

  .about-page .student-card .student-image {
    width: 220px;
    height: 220px;
  }

  .about-page .student-pictures {
    justify-content: center;
  }
}

@media (min-width: 1150px) and (max-width: 1249px) {
  .about-page .overlap-3 {
    top: 100px;
  }

  .about-page .text-wrapper-5 {
    font-size: 80px;
  }

  .about-page .student-card {
    transform: scale(0.8);
    text-align: center;

    border: #23662a;
    border-width: 2px;
    border-style: solid;
  }

  .about-page .student-card .student-image {
    width: 200px;
    height: 200px;
  }

}

@media (min-width: 900px) and (max-width: 1149px) {
  .about-page .overlap-3 {
    top: 100px;
  }



  .about-page .text-wrapper-5 {
    font-size: 60px;
  }

  .about-page .text-wrapper-6 {
    font-size: 60px;
  }

  .about-page .p {
    font-size: 25px;
  }

  .about-page .text-wrapper-7 {
    font-size: 25px;
  }

  .about-page .student-card .card-subtitle {
    font-size: 30px;
  }

  .about-page .student-card {
    transform: scale(0.8);
    width: 100%;
    text-align: center;

    border: #23662a;
    border-width: 2px;
    border-style: solid;
  }

  .about-page .student-card .card-title {
    font-size: 25px;
  }

  .about-page .student-card .student-image {
    width: 150px;
    height: 150px;
  }

  .about-page .student-pictures {
    justify-content: space-between;
  }

}

@media (min-width: 500px) and (max-width: 899px) {
  .about-page .overlap-3 {
    top: 100px;
  }

  .about-page .student-pictures {
    flex-direction: column;
  }

  .about-page .overlap {
    width: 100%;
    left: 0px;
    top: 400px;
  }

  .about-page .text-wrapper-6 {
    text-align: center;
    left: 0px;
  }

  .about-page .p {
    left: 0px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    position: relative;
    left: 65px;
  }

  .about-page .text-wrapper-5 {
    font-size: 50px;
  }

  .about-page .text-wrapper-7 {
    font-size: 25px;
    line-height: 30px;
    top: 150px;
  }

  .about-page .overlap-group {
    width: 100%;
    top: 950px;
    height: 600px;
  }
}

@media (min-width:400px) and (max-width: 499px) {
  .about-page .overlap-3 {
    display: none;
  }


  .about-page .student-pictures {
    flex-direction: column;
  }

  .about-page .overlap {
    width: 100%;
    left: 0px;
    top: 400px;
  }

  .about-page .text-wrapper-6 {
    text-align: center;
    left: 0px;
  }

  .about-page .p {
    left: 0px;
    font-size: 25px;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    left: 20px;
  }

  .about-page .text-wrapper-5 {
    font-size: 30px;
    line-height: normal;
    top: 200px;
  }

  .about-page .text-wrapper-7 {
    font-size: 15px;
    line-height: 30px;
    top: 150px;
  }

  .about-page .overlap-group {
    width: 100%;
    top: 950px;
    height: 600px;
  }
}

@media (max-width:399px) {
  .about-page .overlap-3 {
    display: none;
  }

  .about-page .student-pictures {
    flex-direction: column;
  }

  .about-page .overlap {
    width: 100%;
    left: 0px;
    top: 400px;
  }

  .about-page .text-wrapper-6 {
    text-align: center;
    left: 0px;
    font-size: 40px;
  }

  .about-page .p {
    left: 0px;
    font-size: 25px;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    left: 20px;
  }

  .about-page .text-wrapper-5 {
    font-size: 30px;
    line-height: normal;
    top: 200px;
  }

  .about-page .text-wrapper-7 {
    font-size: 15px;
    line-height: 30px;
    top: 150px;
  }

  .about-page .text-wrapper-8 {
    font-size: 40px;
  }

  .about-page .overlap-group {
    width: 100%;
    top: 950px;
    height: 600px;
  }


}