.Dataset-Button {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins-Medium", Helvetica;
  border-radius: 10px;
  height: 47px;
  width: 110px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.34);
}

.modal-button {
  background-color: #DEF9C4;
  border-color: #236629;
  border-style: solid;
  border-width: 4px;
  font-family: "Poppins-Medium", Helvetica;
  font-size: larger;
  border-radius: 10px;
  width: 30%;
  height: 50px;
  margin-left: 35%;
  margin-right: auto;
}

.modal-button:hover {
  background-color: lightgray;
  cursor: pointer;

}


#dataset-page .frame:hover {
  background-color: lightgray;
  cursor: pointer;
}

.Dataset-Button:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.Dataset-Pages {
  z-index: 2;
  position: relative;
  width: 260px;
  height: 45;
  border-color: #DEF9C4;
  border-radius: 8px;

}

.Dataset-Pages:hover {
  cursor: pointer;
}

.Language-Select {
  position: absolute;
  z-index: 2;
  border-radius: 16px;
  border-width: 1.5px;
  width: 350px;
  height: 60px !important;
  top: 395px;
  left: 900px;
  font-size: larger;
  font-family: "Poppins-Medium", Helvetica;

}

.search-page .Keywords-Select {
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  width: 350px;
  height: 82px !important;
  top: 270px;
  left: 500px;
  font-size: larger;
  font-family: "Poppins-Medium", Helvetica;
  line-height: 50px;
  border-width: 1.5px;
  border-color: black;
}

#pages-top {
  top: 690px;
  left: 585px;
}

#pages-bottom {
  top: 200px;
  left: 585px;
}

.search-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search-page .div-4 {
  background-color: #ffffff;
  height: 2213px;
  position: relative;
  width: 1440px;
  margin-inline: auto;
  left: 0;
}

.search-page .div2 {


  max-width: fit-content;
  margin-inline: auto;

}

.search-page .overlap-4 {
  height: 1906px;
  left: 0;
  position: absolute;
  top: 124px;
  width: 1435px;
}

.search-page .path {
  height: 1633px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1402px;
}

.search-page .element {
  height: 1275px;
  left: 0;
  position: absolute;
  top: 631px;
  width: 1435px;
}

.search-page .group-2 {
  height: 95px;
  left: 240px;
  position: absolute;
  top: 97px;
  width: 962px;
}

.search-page .overlap-group-3 {
  height: 80px;
  position: relative;
  width: 960px;
  font-size: 30px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 10px;
  border-color: #DFF9C5;
  box-shadow: none;
  border-style: inherit;
}



.search-page .rectangle-3 {
  background-color: #fcfef9;
  border: 1px solid;
  border-color: #dff9c5;
  border-radius: 50px;
  height: 84px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 960px;
}

.search-page .text-wrapper-25 {
  color: #7b7777;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 95px;
  left: 62px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 0;
  width: 592px;
}

.search-page .text-wrapper-26 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 52px;
  left: 130px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 220px;
  width: 151px;
}

.search-page .Data_length_text {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 52px;
  left: 130px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 380px;
  width: 221px;
}

.search-page .input-date-picker-instance {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 16px;
  font-size: larger;
  border-width: 1.5px;
  height: 60px !important;
  left: 129px !important;
  position: absolute !important;
  top: 270px !important;
  width: 315px !important;
}

.search-page .design-component-instance-node {
  border-color: #236629 !important;
}

.search-page .group-3 {
  height: 151px;
  left: 758px;
  position: absolute;
  top: 259px;
  width: 535px;
}

.search-page .keywords-text {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 52px;
  left: 500px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 220px;
  width: 221px;
}

.search-page .text-wrapper-28 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 52px;
  left: 900px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  top: 345;
  width: 221px;
}

.search-page .dropdown-box-instance {
  left: 0 !important;
  position: absolute !important;
  top: 69px !important;
  width: 533px !important;
}

.search-page .dropdown-box-2 {
  flex: 0 0 auto !important;
  gap: 19.12px !important;
}

.search-page .dropdown-box-3 {
  align-self: stretch !important;
  border: 2.48px solid !important;
  border-color: #def9c4 !important;
  border-radius: 15.29px !important;
  flex: 0 0 auto !important;
  margin-bottom: -0.57px !important;
  margin-left: -2.48px !important;
  margin-right: -2.48px !important;
  margin-top: -2.48px !important;
  padding: 21.03px 34.41px !important;
  width: 100% !important;
  z-index: 1 !important;
}

.search-page .dropdown-box-4 {
  font-family: "Poppins", Helvetica !important;
  font-size: 22.9px !important;
  font-style: unset !important;
  font-weight: 500 !important;
  letter-spacing: 0.69px !important;
  line-height: 34.4px !important;
  margin-top: -1.91px !important;
}

.search-page .dropdown-box-5 {
  height: 38.23px !important;
  position: relative !important;
  width: 38.23px !important;
}

.search-page .dropdown-box-6 {
  height: 1.91px !important;
}

.search-page .dropdown-box-7 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 21.03px 45.88px !important;
  width: 100% !important;
  z-index: 2 !important;
}

.search-page .dropdown-box-8 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 21.03px 45.88px !important;
  width: 100% !important;
  z-index: 1 !important;
}

.search-page .dropdown-box-9 {
  height: 34.41px !important;
  width: 86.02px !important;
}

.search-page .dropdown-box-10 {
  border-radius: 0px 0px 15.29px 15.29px !important;
  height: 417px !important;
  top: 2px !important;
  width: 533px !important;
}

.search-page .dropdown-box-11 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 21.03px 45.88px !important;
  width: 100% !important;
  z-index: 4 !important;
}

.search-page .dropdown-box-12 {
  font-family: "Poppins", Helvetica !important;
  font-size: 22.9px !important;
  font-style: unset !important;
  font-weight: 500 !important;
  height: 35px !important;
  letter-spacing: 0.69px !important;
  line-height: 34.4px !important;
  top: -2px !important;
}

.search-page .dropdown-box-13 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 21.03px 45.88px !important;
  width: 100% !important;
  z-index: 0 !important;
}

.search-page .dropdown-box-14 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  padding: 21.03px 45.88px !important;
  width: 100% !important;
  z-index: 3 !important;
}

.search-page .min_field_textbox {
  left: 130px !important;
  position: absolute !important;
  top: 560px !important;
  width: 180px !important;
  height: 50px;
  border-radius: 16px;
  font-size: larger;
}

.search-page .max_field_textbox {
  left: 320px !important;
  position: absolute !important;
  top: 560px !important;
  width: 180px !important;
  height: 50px;
  border-radius: 16px;
  font-size: larger;

}

.search-page .search-button {
  left: 1000px !important;
  position: absolute !important;
  top: 550px !important;
  width: 200px !important;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins-Medium", Helvetica;
  border-radius: 10px;
  background-color: #adbdad;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.34);
}

.search-button:hover {
  background-color: #869386;
  cursor: pointer;
}

.search-page .slider-field-2 {
  background-color: #adbdad !important;
}

.search-page .slider-field-3 {
  background-color: #236629 !important;
}

.search-page .dropdown-box-15 {
  left: 590px !important;
  position: absolute !important;
  top: 580px !important;
}

.search-page .dropdown-box-16 {
  flex: 0 0 auto !important;
}

.search-page .dropdown-box-17 {
  align-self: stretch !important;
  border-color: #def9c4 !important;
  flex: 0 0 auto !important;
  margin-bottom: -0.3px !important;
  margin-left: -1.3px !important;
  margin-right: -1.3px !important;
  margin-top: -1.3px !important;
  width: 100% !important;
  z-index: 1 !important;
}

.search-page .dropdown-box-18 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.search-page .dropdown-box-19 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 2 !important;
}

.search-page .dropdown-box-20 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 1 !important;
}

.search-page .dropdown-box-21 {
  top: 1px !important;
}

.search-page .dropdown-box-22 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 4 !important;
}

.search-page .dropdown-box-23 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 0 !important;
}

.search-page .dropdown-box-24 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
  z-index: 3 !important;
}

.search-page .group-4 {
  height: 47px;
  left: 908px;
  position: absolute;
  top: 690px;
  width: 110px;
}

.search-page .group-5 {

  left: 422px;
  position: absolute;
  top: 690px;

}

.search-page .logo-2 {
  height: 77px;
  left: 46px;
  position: absolute;
  top: 29px;
  width: 92px;
}

.search-page .dropdown-box-25 {
  left: 590px !important;
  position: absolute !important;
  top: 2037px !important;
}

.search-page .dropdown-box-26 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -0.3px !important;
  margin-left: -1.3px !important;
  margin-right: -1.3px !important;
  margin-top: -1.3px !important;
  width: 100% !important;
  z-index: 1 !important;
}

.search-page .group-6 {
  height: 47px;
  left: 908px;
  position: absolute;
  top: 2037px;
  width: 110px;
}

.search-page .group-7 {
  height: 47px;
  left: 422px;
  position: absolute;
  top: 690px;
  width: 110px;
}

.search-page .navbar-2 {
  height: 30px;
  left: 170px;
  position: absolute;
  top: 31px;
  width: 541px;
}

.search-page .text-wrapper-29 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 230px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.search-page .text-wrapper-30 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 110px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.search-page .text-wrapper-31 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.search-page .text-wrapper-32 {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 350px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

/* This is the slider styler */
.search-page .css-13vpke-MuiSlider-root {
  top: 380px !important;
  left: 130px;
}

/* This is the date picker styler */
.search-page .css-1b1fjlj-MuiFormControl-root-MuiTextField-root {
  top: 270px;
  left: 130px;
  background-color: white;
  height: 65px;
  width: 330px;
}

.search-page .userguide-page-link {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 490px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.search-page .google-form-link {
  color: #000000;
  display: block;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  left: 690px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}