.items-list {
  align-items: center;
  background-color: var(--white);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  height: 218px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  width: 260px;
}
